# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

coverage/

# .env file should be created manually for local development by copying and customising .env.template
# or by build pipeline from secure files
.env
.env.local

.yarn-error.log
.yarn

## Protect accidental change of yarn.lock
yarn.lock
.yarnrc.yml

