*.pyc
node_modules/
.idea/
.git/
.DS_Store
/frontend/coverage/
frontend/builds/
.cache/
.coverage
.lcoveragerc
*/.cache/
npm-debug.log
*.cache*
.cache/
.coverage
*/.cache/
*.py,cover
*htmlcov/
*html/public/
bundle.js
nginx/site/html/
django/temp
nginx/html/
diff.txt
dump.*
django/celerybeat-schedule
django/celerybeat-schedule.*
.floo
.flooignore
.sublimelinterrc
errorShots/
.yarnclean
.testmon*
/ssl/
/frontend/djangojs.pot
*.po
*.mo
yarn-error.log
.vscode/
/django/.pytest_cache/