<div class="assessment-container" layout="column">

  <div layout="row" class="dashrow dashrow-upper">

    <!-- vm.userType rights: 0: ANON, 1: LOGGEDIN, 2: VIEWER, 3: OWNER -->

    <div flex class="dashsection dashsection-left" layout="row">

      <div class="dashsection dashsection-left dash-cardholder" layout="column" id="dashsection-stats" ng-hide="vm.showEmpty">

        <div flex layout="column" class="dash-stat-column" layout="column" layout-align="start">
          <statistics></statistics>
        </div>
      </div>

      <div flex class="dashsection dash-cardholder" layout="column" ng-if="!vm.showEmpty">

        <div class="dash-subhead">
          <translate>PROJECT DETAILS</translate>
        </div>

        <md-card flex>
          <md-tabs md-border-bottom md-dynamic-height md-no-pagination md-center-tabs md-no-ink>
            <md-tab label="{{'overview' | translate}}">
              <div class="dash-cardcontent" layout="column" ng-if="!vm.viewMode">

                <axis flex ng-repeat="axis in vm.rawToolkitData" axis-index="$index"></axis>

                <div layout="row" class="dash-overview-tooltips">
                  <div class="dash-overview-tooltip">
                    <img src="../Common/Axis/images/flag-started.svg" />
                    <span>
                      <translate>Already started</translate>
                    </span>
                  </div>
                  <div class="dash-overview-tooltip">
                    <img src="../Common/Axis/images/flag-notstarted.svg" />
                    <span>
                      <translate>Not started yet</translate>
                    </span>
                  </div>
                  <div class="dash-overview-tooltip">
                    <span>
                      <translate>
                      <b>P</b> - Progress
                      </translate>
                    </span>
                  </div>
                  <div class="dash-overview-tooltip">
                    <span>
                      <translate>
                      <b>S</b> - Score
                      </translate>
                    </span>
                  </div>
                  <div class="dash-overview-tooltip">
                    <md-icon class="material-icons dash-overw-toolkit-ball1">fiber_manual_record</md-icon>
                    <span>
                      <translate>0-49%</translate>
                    </span>
                  </div>
                  <div class="dash-overview-tooltip">
                    <md-icon class="material-icons dash-overw-toolkit-ball2">fiber_manual_record</md-icon>
                    <span>
                      <translate>50-99%</translate>
                    </span>
                  </div>
                  <div class="dash-overview-tooltip">
                    <md-icon class="material-icons dash-overw-toolkit-ball3">fiber_manual_record</md-icon>
                    <span>
                      <translate>100%</translate>
                    </span>
                  </div>
                </div>
              </div>

              <div class="dash-cardcontent infoview" layout="column" ng-if="vm.viewMode" layout="column" layout-align="space-between stretch">
                <div layout="row" layout-align="start center" class="roww">
                  <div flex="25" class='label'>
                    <translate>NAME</translate>
                  </div>
                  <div class="data">{{vm.projectData.name}}</div>
                </div>

                <div layout="row" layout-align="start center" class="roww">
                  <div flex="25" class='label'>
                    <translate>LOCATION</translate>
                  </div>
                  <div class="data">{{vm.projectData.country_name}}</div>
                </div>

                <div layout="row" layout-align="start center" class="roww">
                  <div flex="25" class='label'>
                    <translate>ORGANISATION</translate>
                  </div>
                  <div class="data">{{vm.projectData.organisation_name}}</div>
                </div>

                <div layout="row" layout-align="start center" class="roww borderless">
                  <div flex="25" class='label'>
                    <translate>CONTACT</translate>
                  </div>
                  <div class="data">
                    {{vm.projectData.contact_name}}
                    <a ng-href="mailto:{{vm.projectData.contact_email + '?subject=Request for approval'}}">
                      <translate>Request to be part of this project</translate>
                    </a>
                  </div>
                </div>

                <div flex class="gray">
                  <div class='label labelobj'>
                    <translate>OBJECTIVES</translate>
                  </div>
                  <div class="data data2">{{vm.projectData.goals_to_scale}}</div>
                </div>
              </div>
            </md-tab>

            <md-tab label="{{'axis' | translate}}" ng-if="!vm.viewMode">
              <div>
                <linechart
                  showdotted="vm.projectData.isMember">
                </linechart>
              </div>
            </md-tab>

            <md-tab label="{{'domains' | translate}}" ng-if="!vm.viewMode">
              <div>
                <linechart
                  showdotted="vm.projectData.isMember"
                  datachooser="true"
                ></linechart>
              </div>
            </md-tab>

            <md-tab label="{{'technology' | translate}}">

              <div class="dash-tech">
                <div
                  class="upper"
                  layout="column">

                  <div layout="row" layout-align="start start">
                    <span flex>
                      <md-icon class="material-icons">device_hub</md-icon>
                      <translate>Technology platforms</translate>
                    </span>
                    <md-chips flex="66" readonly="true" ng-model="vm.projectData.platforms">
                      <md-chip-template>
                        <span>
                          {{$chip.name}}
                        </span>
                      </md-chip-template>
                    </md-chips>
                  </div>
                  <div layout="row">
                    <span flex>
                      <md-icon class="material-icons">playlist_add_check</md-icon>
                      <translate>License</translate>
                    </span>
                    <md-chips flex="66" readonly="true" ng-model="vm.projectData.licenses">
                      <md-chip-template>
                        <span>{{ $chip.name }}</span>
                      </md-chip-template>
                    </md-chips>
                  </div>
                </div>

                <div class="lower">
                  <span>
                    <translate>Code documentations &amp; download:</translate>
                  </span>
                  <a ng-href="{{vm.fixUrl(vm.projectData.repository)}}" target="_blank">{{vm.projectData.repository}}</a>

                  <span>
                    <translate>Download applications:</translate>
                  </span>
                  <a ng-href="{{vm.fixUrl(vm.projectData.mobile_application)}}" target="_blank">{{vm.projectData.mobile_application}}</a>

                  <span>
                    <translate>Link to wiki page:</translate>
                  </span>
                  <a ng-href="{{vm.fixUrl(vm.projectData.wiki)}}" target="_blank">{{vm.projectData.wiki}}</a>
                </div>
              </div>
            </md-tab>

            <md-tab label="{{'interoperability' | translate}}">
              <md-content class="dash-res">
                <h3>
                  <translate>Health Information System Links</translate>
                </h3>
                <md-card
                  class="resource"
                  ng-repeat="link in vm.projectData.interoperability_links | filter:'!!' track by $index "
                  ng-if="link.selected"
                  layout="row"
                  layout-align="start center">
                  <div flex>
                    <div class="res-title">{{link.name}}</div>
                    <div class="res-text">
                      <h4>{{vm.structure.interoperability_links[$index].name}} : {{link.link}}</h4>
                    </div>
                  </div>
                  <a ng-if="link.link" ng-href="{{vm.fixUrl(link.link)}}" target="_blank" flex>
                    <md-icon>launch</md-icon>
                  </a>
                </md-card>


                <h3>
                  <translate>Health Information Exchange Standards</translate>
                </h3>
                <md-card
                  class="resource"
                  ng-repeat="standard in vm.projectData.interoperability_standards track by $index"
                  layout="row"
                  layout-align="space-around stretch">

                  <div flex class="res-text" layout="column" layout-align="space-around start">
                    <h4>{{standard.name}}</h4>
                  </div>
                </md-card>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-card>
      </div>
    </div>

    <div flex="40" class="dashsection dash-cardholder" layout="column">
      <div class="dash-subhead">
        <translate>PROJECT PERFORMANCE</translate>
      </div>
      <md-card flex class="dash-perf">

        <div flex class="emptyright" layout="column" ng-show="vm.showEmpty">
          <p class="afteri">
            <md-icon class="material-icons unselectable">info</md-icon>
            <translate>What will you find here?</translate>
          </p>
          <p class="detail">
            <translate>
            By adding your project, you will be able to see where and who else is implementing in your country, and globally. You can also track your implementation performance over time and assess your efforts in scaling up.
            </translate>
          </p>
        </div>

        <md-tabs ng-if="!vm.showEmpty && vm.profile.name" md-border-bottom md-no-pagination md-center-tabs md-no-ink class="perf-tab">

          <md-tab label="{{'geographical view' | translate}}">
            <countrymap
              flex
              big="false"
              ng-if="vm.mapData"
              district-level-coverage="vm.districtProjects"
              national-level-coverage="vm.nationalLevelCoverage"
              map-data="vm.mapData">
            </countrymap>
          </md-tab>

          <md-tab label="{{'historical view' | translate}}" ng-if="!vm.showEmpty && vm.state.current.parent !== 'public'">
            <linechart
              showdotted="vm.projectData.isMember"
              datachooser="false"
              notpercentage="true">
            </linechart>
          </md-tab>

        </md-tabs>

        <div flex ng-if="!vm.profile.name" class="perfloggedout dash-cardcontent" layout="column" layout-align="center center">
          <p class="loggedout">
            <translate>
            If you want to see world map for the geographical and historic view please subscribe first!
            </translate>
          </p>
          <md-button class="md-raised" ui-sref="signup">
            <translate>sign up now</translate>
          </md-button>
        </div>

      </md-card>
    </div>

  </div>

  <!-- LOWER PART -->

  <div layout="row" class="dashrow dashrow-lower" ng-if="vm.rawToolkitData && !vm.viewMode && vm.state.params.appName !== null">

    <div flex class="dashsection dash-cardholder" layout="column">

      <div class="dash-subhead">
        <translate>IMPROVE PROJECT</translate>
      </div>

      <cms-dashboard-widget scores="vm.rawToolkitData" ></cms-dashboard-widget>
    </div>

  </div>

</div>

<disclaimer></disclaimer>
