{% extends "admin/base.html" %}
{% block extrastyle %}
<style type="text/css">
    body:before {
        display: block;
        line-height: 35px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        content: "{{ ENVIRONMENT_NAME }}";
        background-color: {{ ENVIRONMENT_COLOR }};

        .form-row {
            display: flex;
            justify-content: start;
            gap: 10px;
}

    }

    .form-row > div {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .comment-wrapper {
        display: flex;
        align-items: center;
        gap: 5px;
    }

   
</style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Move the comment field next to the state field
        var commentDiv = $('<div class="comment-wrapper"></div>');
        commentDiv.append('Comment: ').append($('#id_comment'));
        
        $('#id_state').parent().append(commentDiv);
        $( ".field-comment" ).hide();
    });
</script>
{% endblock %}
