{% extends "admin/base.html" %}
{% block extrastyle %}
<style type="text/css">
    body:before {
        display: block;
        line-height: 35px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        content: "{{ ENVIRONMENT_NAME }}";
        background-color: {{ ENVIRONMENT_COLOR }};

        .form-row {
            display: flex;
            justify-content: start;
            gap: 10px;

}
    }
</style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Move the comment field next to the state field
        $('#id_state').after($('#id_comment'));
        // Insert the text label after moving the comment field
        $('#id_comment').before(' Comment: ');
        $( ".field-comment" ).hide();
    });
</script>
{% endblock %}