@import "../../node_modules/angular-material/dist/angular-material.scss";
@import "./variables";
@import "./mixins";

/* GENERAL
   ============================= */
.angularjs,
.md-dialog-is-showing {
  button,
  select,
  html,
  textarea,
  input {
    font-family: "Univers", Arial, sans-serif;
  }

  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700 !important;
  }

  app {
    margin: 0;
    width: 100%;
    min-height: 100%;
    // height: auto;
    // flex: 1 0 auto !important;
  }

  ui-view {
    background-color: $color-page-background;
    min-height: 100%;
    // height:auto !important;
    // flex: 1 0 auto !important;
  }

  .main-content {
    overflow-x: hidden;
    min-width: $page-min-width !important;
    background-color: $color-page-background;
    // height: auto !important;
    // flex: 1 0 auto !important;
  }

  #intro-wrapper {
    height: auto;
    margin-top: 48px;
    // min-height: 100%;
    // flex: 1 0 auto !important;
  }

  .page-wrapper {
    background-color: $color-white;
  }

  .layout-padding-xl > * {
    padding: 30px 40px;
  }

  .main-wrapper {
    position: relative;
  }

  md-tooltip {
    md-background {
      // background-color: yellow;
      opacity: 0 !important;
    }
  }

  .page-loader {
    padding: 40px 0;
  }

  .countrymapcontainer {
    &:hover {
      cursor: grab;
      cursor: -webkit-grab;
    }
    &:active {
      cursor: grabbing;
      cursor: -webkit-grabbing;
    }
  }

  /* TYPOGRAPY
    ============================= */

  .page-title {
    color: $text-primary;
    max-width: $page-max-width;
    margin: 0 auto;

    .md-display-1 {
      margin: 40px 0;
      font-size: 32px;
      letter-spacing: -1px;
    }

    .md-subhead {
      margin: -20px auto 50px;
      max-width: $page-min-width;
      color: $color-gray;

      md-icon {
        width: 16px;
        min-width: 16px;
        height: 22px;
        min-height: 22px;
        font-size: 18px;
      }
    }
  }

  .md-small {
    font-size: $caption-font-size-base;
  }

  /* UI ELEMENTS
    ============================= */

  // Enhance form input indentation

  md-input-container {
    padding-left: 0;

    &.md-icon-float {
      padding-left: 0;

      md-icon {
        top: 4px;
        left: 0;

        .material-icons {
          font-size: 24px;
          color: $text-secondary;
        }
      }

      // Select
      .md-select-value {
        padding-left: 36px;
      }

      //Input
      .md-input {
        padding-left: 36px;
      }
    }
  }

  md-select-menu {
    md-optgroup {
      label {
        font-size: 12px !important;
        padding: 12px;
        border-top: 1px solid $color-gray-lighter;
        background-color: $color-gray-lightest;
        color: $text-primary;
      }
    }
  }

  md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused
    .md-input,
  md-input-container:not(.md-input-invalid).md-input-focused .md-input,
  md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized
    .md-input,
  md-input-container:not(.md-input-invalid).md-input-resized .md-input {
    border-color: $color-primary;
  }

  md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused
    label,
  md-input-container:not(.md-input-invalid).md-input-focused label,
  md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused
    md-icon,
  md-input-container:not(.md-input-invalid).md-input-focused md-icon {
    color: $color-primary;
  }

  md-select.md-default-theme:not([disabled]):focus .md-select-value,
  md-select:not([disabled]):focus .md-select-value {
    border-color: $color-primary;
    color: $text-primary;
  }

  md-select-menu.md-default-theme md-content md-option[selected],
  md-select-menu md-content md-option[selected],
  md-select-menu.md-default-theme md-content md-option[selected]:focus,
  md-select-menu md-content md-option[selected]:focus {
    color: $color-primary;
  }

  md-input-container.md-input-focused
    label:not(.md-no-float):not(.md-container-ignore),
  md-input-container.md-input-focused .md-placeholder {
    color: $text-primary;
    font-weight: 700;
    transform: translate3d(0, 0, 0) scale(0.75);
  }

  md-input-container.md-input-focused label:not(.md-no-float),
  md-input-container.md-input-has-placeholder label:not(.md-no-float),
  md-input-container.md-input-has-value label:not(.md-no-float) {
    color: $text-primary;
    font-weight: 700 !important;
    transform: translate3d(0, 0, 0) scale(0.75);
  }

  md-input-container.md-input-focused .md-select-placeholder:not(.md-no-float),
  md-input-container.md-input-has-placeholder
    .md-select-placeholder:not(.md-no-float),
  md-input-container.md-input-has-value
    .md-select-placeholder:not(.md-no-float) {
    > span:first-child {
      color: $text-primary;
      font-weight: 700;
      transform: translate3d(0, -27px, 0) scale(0.75);
    }
  }

  md-input-container.md-input-focused.md-icon-float
    .md-select-placeholder:not(.md-no-float) {
    > span:first-child {
      transform: translate3d(-34px, -27px, 0) scale(0.75);
    }
  }

  md-input-container.md-input-focused.md-icon-float label:not(.md-no-float),
  md-input-container.md-input-has-placeholder.md-icon-float
    label:not(.md-no-float),
  md-input-container.md-input-has-value.md-icon-float label:not(.md-no-float) {
    font-weight: 700;
    transform: translate3d(-36px, 0, 0) scale(0.75);
  }

  md-input-container.md-input-focused._md-datepicker-floating-label._md-datepicker-has-calendar-icon
    > label:not(.md-no-float),
  md-input-container.md-input-has-placeholder._md-datepicker-floating-label._md-datepicker-has-calendar-icon
    > label:not(.md-no-float),
  md-input-container.md-input-has-value._md-datepicker-floating-label._md-datepicker-has-calendar-icon
    > label:not(.md-no-float) {
    transform: translate3d(-40px, 0, 0) scale(0.75) !important;
  }

  md-input-container.md-input-has-value
    .md-select-value
    > span:not(.md-select-icon) {
    transform: translate3d(0, 0, 0);
  }

  md-input-container .md-input-message-animation:not(.md-char-counter),
  md-input-container .md-char-counter:not(.md-char-counter) {
    padding-left: 2px;
  }

  .md-button {
    padding: 0 20px;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    border-radius: 0;
    box-shadow: none !important;

    .material-icons {
      margin-top: -2px;
    }

    &.md-small {
      min-height: 34px;
      height: 34px;
      min-width: 60px;
      font-size: 12px;
      line-height: 34px;
      padding: 0 12px;

      .material-icons {
        margin-top: 6px;
        font-size: 16px;
      }
    }

    &.md-tiny {
    }
    &.md-large {
    }

    &.md-fab {
      &.md-tiny {
        padding: 0;
        min-height: 0;
        width: $button-fab-tiny-width;
        height: $button-fab-tiny-height;
        line-height: $button-fab-tiny-line-height;

        .material-icons {
          width: $button-fab-tiny-width;
          height: $button-fab-tiny-height;
          vertical-align: baseline;
          font-size: 18px;
          line-height: $button-fab-tiny-height;
        }
      }
    }
  }

  // Placeholder color

  md-input-container label,
  .md-select-placeholder span {
    color: rgba(0, 0, 0, 0.54);
  }

  md-backdrop {
    &.md-dialog-backdrop {
      z-index: 1200;
    }
  }

  .md-alert-theme {
    .md-dialog-content {
      height: auto;
    }
  }

  // Progress Circular

  md-progress-circular .md-spinner-wrapper .md-inner .md-half-circle {
    border-width: 16px !important;
  }

  // Checkbox - small

  $checkbox-size-small: 16px;

  md-checkbox.small {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: $caption-font-size-base;

    .md-container,
    .md-icon {
      top: 0;
      transform: none;
      width: $checkbox-size-small;
      height: $checkbox-size-small;
    }
    &.md-checked .md-icon:after {
      top: 0;
      left: 4px;
      width: $checkbox-size-small / 3;
      height: $checkbox-size-small * 2 / 3;
    }
    .md-label {
      margin-left: 24px;
    }
  }

  // Md-select

  md-select {
    &.md-small {
      .md-select-value {
        font-size: 12px;
      }
    }

    &.no-border {
      .md-select-value {
        border: none !important;
      }
    }
  }

  .md-select-menu-container {
    &.md-small {
      md-option {
        height: 32px;
        padding: 0 12px;
      }

      md-optgroup {
        label {
          font-size: 11px !important;
          font-weight: 700;
          color: $color-gray-light;
          border: 1px solid $color-gray-lighter;
          border-width: 0 0 1px;
        }
        md-option {
          padding: 0 24px;
        }
      }
    }
  }

  // Datepicker

  ._md-datepicker-floating-label._md-datepicker-has-calendar-icon
    > label:not(.md-no-float):not(.md-container-ignore) {
    right: 0;
    left: 40px;
    margin-bottom: 2px;
    width: calc(100% - 90px);
  }

  ._md-datepicker-floating-label._md-datepicker-has-calendar-icon.md-input-focused
    > label:not(.md-no-float):not(.md-container-ignore),
  ._md-datepicker-floating-label._md-datepicker-has-calendar-icon.md-input-has-value
    > label:not(.md-no-float):not(.md-container-ignore) {
    width: 100%;
  }

  ._md-datepicker-floating-label._md-datepicker-has-calendar-icon
    .md-input-message-animation {
    margin-left: 0;
    padding-top: 0;
  }

  .md-datepicker-calendar-pane {
    .md-datepicker-input-mask {
      display: none;
    }
  }

  .md-datepicker-open {
    overflow: visible;
    label {
      opacity: 0;
    }
  }

  md-datepicker {
    margin-right: 0;
    padding: 0;

    .md-datepicker-button.md-icon-button {
      top: -4px;
      left: -8px;
      margin: 0;

      + .md-datepicker-input-container {
        margin-left: 0;
      }
    }

    .md-datepicker-triangle-button.md-icon-button {
      top: 6px;
      right: 6px;

      .md-datepicker-expand-triangle {
        border-top-color: $text-secondary;
      }
    }

    .md-datepicker-input-container {
      float: left;
      display: block;
      width: calc(100% - 44px);
      box-sizing: border-box;
      padding-bottom: 0;

      input {
        font-size: 16px;
        margin: 0 !important;
        max-width: none;
        height: auto !important;
      }
    }
  }

  // Md-chip

  .md-chips.md-removable md-chip .md-chip-content {
    padding-right: 8px;
  }

  button.md-chip-remove md-icon {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    color: $color-gray-light;
  }

  .md-chips .md-chip-input-container md-autocomplete input {
    &::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.54);
    }
  }

  .md-contact-chips .md-chips md-chip {
    padding: 0 30px 0 8px;
    background-color: #52a0ce;
    color: $color-white;

    button.md-chip-remove md-icon {
      color: $color-white;
    }
  }

  // TODO
  // NASTY hack
  md-virtual-repeat-container {
    min-width: 500px !important;
  }

  ul.md-contact-chips-suggestions {
    li {
      .md-contact-suggestion {
        display: flex;
        width: 100%;

        > span {
          flex-flow: row;
        }

        .md-contact-name {
          width: 40%;

          .highlight {
            text-decoration: underline;
            color: $color-primary;
          }
        }
        .md-contact-email {
          width: 60%;
        }
      }
    }
  }

  // Md-menu

  .md-subheader-wrapper.ng-scope.md-sticky-clone {
    margin-left: 0 !important;
    width: calc(100% - 32px) !important;
  }

  // Form global error

  p.global-error {
    margin: 0;
    color: $color-red;
    font-size: $body-font-size-base;

    span {
      position: relative;
      display: block;
      margin: 0 0 10px;
      padding-left: 24px;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "error_outline";

        @include md-icon(20px);
      }
    }
  }

  // Autocomplete

  .md-not-found {
    a {
      font-weight: 500;
      color: $color-primary !important;

      .material-icons {
        position: relative;
        top: 7px;
      }
    }
  }

  // Md-card

  md-card {
    border: 1px solid $color-gray-lighter;
    background-color: $color-white;
    box-shadow: 0 1px 0 $color-gray-lighter;
    border-radius: 0;

    &.md-card-noborder {
      border: 0;
    }

    &.md-card-nomargin {
      margin: 0;
    }

    &.md-card-rounded {
      border-radius: 3px;
    }
  }

  // Md-tabs

  md-tabs {
  }
}

//  NOT SCOPED AREA : this elements gets appended to the body

.md-scroll-mask {
}

/* CUSTOM COLORS
    ============================= */

.md-primary {
  // Button
  &.md-button {
    color: $color-primary;

    md-icon {
      color: $color-primary !important;
    }

    &.md-raised {
      color: $color-white;
      background-color: $color-accent !important;

      &[disabled] {
        background-color: $text-disabled !important;
      }

      md-icon {
        color: $color-white !important;
      }
    }
  }

  // Checkbox
  &.md-checked {
    .md-icon {
      border-color: $color-primary !important;
      background-color: $color-primary !important;
    }
    .md-ink-ripple {
      color: $color-primary !important;
    }
  }
}

.md-gray {
  // Progress Circular
  .md-left .md-half-circle {
    border-top-color: $color-gray-light !important;
    border-left-color: $color-gray-light !important;
  }
  .md-right .md-half-circle {
    border-top-color: $color-gray-light !important;
    border-right-color: $color-gray-light !important;
  }

  // Button
  &.md-button,
  &.md-button:not([disabled]):hover {
    color: $color-white !important;
    background-color: $text-disabled !important;
  }

  &.md-button.md-no-ink {
    color: $text-secondary !important;
    background-color: transparent !important;
    &:hover {
      color: $text-secondary !important;
      background-color: rgba(158, 158, 158, 0.2) !important;
    }
  }
}

.md-green {
  // Switch
  &.md-checked .md-bar {
    background-color: rgba($color-green, 0.49) !important;
  }
  &.md-checked .md-thumb {
    background-color: $color-green !important;
  }
  &.md-checked .md-thumb::before {
    background-color: rgba($color-green, 0.26) !important;
  }
  &.md-checked .md-ink-ripple,
  &.md-checked .md-ripple-container {
    color: $color-green !important;
  }
}

.md-black {
  // Checkbox
  &.md-checked {
    .md-icon {
      border-color: $text-primary !important;
      background-color: $text-primary !important;
    }
    .md-ink-ripple {
      color: $text-primary !important;
    }
  }

  // FAB
  &.md-fab,
  &.md-fab:not([disabled]):hover {
    background-color: $text-primary;
  }

  // Button
  &.md-button,
  &.md-button:not([disabled]):hover {
    background-color: $text-primary;
    color: $color-white;
  }
}

.md-blue {
  // Button
  &.md-button,
  &.md-button:not([disabled]):hover {
    color: $color-white !important;
    background-color: $color-primary !important;
  }
}

.md-cancel {
  // Button
  &.md-button,
  &.md-button:not([disabled]):hover {
    color: $text-secondary !important;
  }
}

// Md-dialog

md-dialog {
  border-radius: 0;
}

.md-dialog-container {
  z-index: 10000;
  min-width: $page-min-width;
}

.md-open-menu-container {
  z-index: 3000;
}

.md-fab-not-raised {
  box-shadow: none !important;
}

md-menu-content {
  .menu-group-title {
    display: block;
    padding: 10px 15px;
    color: $color-gray-light;
    text-transform: uppercase;
    font-weight: 500;
    font-size: $caption-font-size-base;
  }
}
