// Angular Material's mixins
@import "../node_modules/angular-material/src/core/style/variables";

// WHO MAPS specific variables

$page-min-width:         1280px;
$page-max-width:         1680px;
$navigation-width:       280px;

$color-primary:          #008DC9;
$color-accent:           #DC7036;
$color-primary-muted:    #1C5F89;

$color-black:            #000000;
$color-gray:             #757575;
$color-gray-light:       #9D9D9D;
$color-gray-lighter:     #D6D6D6;
$color-gray-lightest:    #F2F2F2;
$color-white:            #FFFFFF;

$text-primary:           #474747;
$text-secondary:         #6D6D6D;
$text-disabled:          #B9B9B9;

$color-red:              #F44336;
$color-red-green:        #FB8C00;
$color-green:            #7CB342;
$color-blue:             #039BE5;
$color-lightblue:        #E9F1F7;

$color-map-light:        #E3E5EE;
$color-map-dark:         #C8CAD5;
$color-map-hoverempty:   #A1A4AF;
$color-map-filter-background: #EEEEEE;

$color-draft:            #FBC02D;
$color-published:        #558B2F;
$color-approved:         #744E42;

$color-axis1:            #7C3AA4;
$color-axis2:            #D84315;
$color-axis3:            #0097A7;
$color-axis4:            #FAA806;
$color-axis5:            #558B2F;
$color-axis6:            #744E42;

$color-page-background:  $color-gray-lightest;

$button-fab-tiny-width: rem(2.400) !default;
$button-fab-tiny-height: rem(2.400) !default;
$button-fab-tiny-line-height: rem(2.400) !default;
