replicaCount: 1
replicaCountCelery: 1
revisionHistoryLimit: 0

application:
  name: invent-django

environment: toBeSetFromPipeline
envFullName: toBeSetFromPipeline
lifecycle: toBeSetFromPipeline
instance: toBeSetFromPipeline

image:
  repository: uniinventacrdev.azurecr.io/invent_django
  pullPolicy: Always
  tag: "latest"

vault:
  name: toBeSetFromPipeline
  clientID: toBeSetFromPipeline
  tenantID: toBeSetFromPipeline

unitTests:
  enabled: false

storage:
  storageCLass: azurefile-csi
  translationsSize: 1Gi

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 8000
  targetPort: 8000

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}


autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 4
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 70

nodeSelector: {}

tolerations: []

affinity: {}
