<p>
  <translate>
    i) The health outcomes and the specific health interventions for which the mHealth product is targeted have been detailed. This may include health outcomes/priorities that occur at the following life stages (examples of specific outcomes or health interventions are given in brackets):*
  </translate>
</p>

<ul>
  <li>
    <translate>
      Adolescence/before pregnancy (e.g. family planning, prevention of sexually transmitted infections)
    </translate>
  </li>
  <li>
    <translate>
      Pregnancy (e.g. ANC, pregnancy complications)
    </translate>
  </li>
  <li>
    <translate>
      Birth (e.g. transport, skilled attendance at birth)
    </translate>
  </li>
  <li>
    <translate>
      Postpartum mother and postnatal newborn (e.g. postnatal care, newborn illnesses)
    </translate>
  </li>
  <li>
    <translate>
      Maternal health and infancy/childhood (e.g. exclusive breastfeeding, routine immunizations, growth monitoring and nutrition).
    </translate>
  </li>
</ul>
