{% load utils %}
{% load i18n %}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="{{ language }}">

	<title></title>
</head>
<body>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" valign="top" bgcolor="#E3EAEF" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;height:100%;font-size:100%;font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;line-height:1.6;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;" ><tr><td style="vertical-align:top;">

      <!-- topnav -->
      <table class="topnav-wrap" width="100%" height="50px" bgcolor="#283593" style="border-spacing:0;background-color:#283593;width:100%;height:50px;color:#FFFFFF;" >
        <tr>
          <td class="logo" style="padding-top:0;padding-bottom:0;padding-right:20px;padding-left:20px;" ><strong style="display:inline-block;margin-top:5px;width:163px;height:22px;border-width:0;background-color:transparent;background-image:url('images/dha-logo@2x.png');background-repeat:no-repeat;background-position:0 0;background-attachment:scroll;-webkit-background-size:163px 22px;background-size:163px 22px;color:transparent;text-shadow:none;" >{% trans "Digital Health Atlas" %}</strong></td>
          <!-- TODO#15 -->
          <td class="link" style="text-align:right;padding-top:0;padding-bottom:0;padding-right:20px;padding-left:20px;" ><a href="{% site_url %}" style="word-break:break-all;color:#FFFFFF;text-decoration:none;font-size:12px;" >{% trans "Visit digitalhealthatlas.org" %}</a></td>
        </tr>
      </table>

      <!-- headline -->
      <table class="headline-wrap" width="100%" style="border-spacing:0;width:100%;color:#283593;text-align:center;" >
        <tr>
          <td class="container" style="display:block !important;clear:both !important;margin-top:0 !important;margin-bottom:0 !important;margin-right:auto !important;margin-left:auto !important;max-width:600px !important;padding-top:0;padding-bottom:0;padding-right:20px;padding-left:20px;" >
            <div class="content" style="display:block;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;max-width:600px;" >
              <table style="border-spacing:0;width:100%;" >
                <tr>
                  <td>
                    <h2 style="color:#283593;font-weight:500;font-family:'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;line-height:1.2;font-size:30px;margin-top:30px;margin-bottom:30px;margin-right:0;margin-left:0;text-align:center;" >{% trans "ODK Project report" %}</h2>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>

      <!-- body -->
      <table class="body-wrap" bgcolor="#E3EAEF" style="border-spacing:0;width:100%;padding-top:0;padding-bottom:0;padding-right:20px;padding-left:20px;" >
        <tr>
          <td></td>
          <td class="container container-fullwidth" bgcolor="#FFFFFF" style="display:block !important;clear:both !important;margin-top:0 !important;margin-bottom:0 !important;margin-right:auto !important;margin-left:auto !important;max-width:600px !important;padding-top:50px !important;padding-bottom:50px !important;padding-right:0 !important;padding-left:0 !important;-webkit-box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);-moz-box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);" >

            <!-- content -->
            <div class="content" style="display:block;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;max-width:600px;" >
            <table style="border-spacing:0;width:100%;" >
              <tr>
                <td>
                  <h3 class="first" style="margin-bottom:20px;margin-right:0;margin-left:0;color:#283593;font-weight:500;font-family:'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;line-height:1.2;font-size:20px;margin-top:0;padding-top:0;padding-bottom:0;padding-right:50px;padding-left:50px;" >{% trans "Dear" %} {{ user_email }}</h3>
                  <p class="first" style="margin-bottom:20px;font-weight:normal;font-size:14px;line-height:1.6;margin-top:0;padding-top:0;padding-bottom:0;padding-right:50px;padding-left:50px;" >{% trans "The following projects have been imported from the ODK database" %}</p>

                  <!-- TODO#16 eg.:  http://localhost:3000/en/-/projects/1/-->
                  <a href="{% site_url %}/projects/{{project.id}}/" style="color:#283593;text-decoration:none;word-break:break-all;" >{{ project.name }}</a>

                  <!-- button -->
                  <table class="btn-primary center last" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;margin-top:40px;margin-bottom:0;margin-left:auto;margin-right:auto;width:auto !important;padding-top:0;padding-bottom:0;padding-right:50px;padding-left:50px;" >
                    <tr>
                      <td style="border-radius:5px;background-color:#283593;vertical-align:top;text-align:center;text-transform:uppercase;font-size:14px;font-family:'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;" >
                        <!-- TODO#17 my projects list, eg.: http://localhost:3000/en/-/projects/ -->
                        <a href="{% site_url %}/projects/" style="word-break:break-all;display:inline-block;padding-top:12px;padding-bottom:12px;padding-right:16px;padding-left:16px;border-width:0;border-radius:5px;background-color:#283593;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);color:#FFFFFF;text-decoration:none;font-weight:bold;line-height:1;cursor:pointer;" >{% trans "Go to your project list" %}</a>
                      </td>
                    </tr>
                  </table>
                  <!-- /button -->
                </td>
              </tr>
            </table>
            </div>
            <!-- /content -->

          </td>
          <td></td>
        </tr>
      </table>
      <!-- /body -->

      <!-- footer -->
      <table class="footer-wrap" style="border-spacing:0;clear:both !important;width:100%;margin-top:10px;margin-bottom:20px;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:20px;padding-left:20px;font-size:12px;" >
        <tr>
          <td></td>
          <td class="container" style="display:block !important;clear:both !important;margin-top:0 !important;margin-bottom:0 !important;margin-right:auto !important;margin-left:auto !important;max-width:600px !important;" >

            <!-- content -->
            <div class="content" style="display:block;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;max-width:600px;" >
              <table style="border-spacing:0;width:100%;" >
                <tr>
                  <td align="center">
                    <ul style="font-weight:normal;line-height:1.6;margin-top:20px;margin-bottom:20px;margin-right:20px;margin-left:20px;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;font-size:12px;" >
                      <li style="list-style-position:inside;display:inline-block;margin-top:0;margin-bottom:10px;margin-right:10px;margin-left:10px;list-style-type:none;" ><a href="{% site_url %}" style="word-break:break-all;color:#9D9D9D;text-decoration:underline;" >{% trans "Go to website" %}</a></li>
                      <li style="list-style-position:inside;display:inline-block;margin-top:0;margin-bottom:10px;margin-right:10px;margin-left:10px;list-style-type:none;" ><a href="{% site_url %}/terms" style="word-break:break-all;color:#9D9D9D;text-decoration:underline;" >{% trans "Terms of services" %}</a></li>
                      <li style="list-style-position:inside;display:inline-block;margin-top:0;margin-bottom:10px;margin-right:10px;margin-left:10px;list-style-type:none;" ><a href="mailto:digitalhealthatlas@gmail.com" style="word-break:break-all;color:#9D9D9D;text-decoration:underline;" >{% trans "Contact us" %}</a></li>
                    </ul>
                    <p style="margin-bottom:20px;font-weight:normal;color:#9D9D9D;font-size:10px;line-height:1.4;" >{% trans "<b>Disclaimer:</b> All reasonable precautions have been taken by the World Health Organization to verify the information contained in this publication. However, the published material is being distributed without warranty of any kind, either expressed or implied. The responsibility for the interpretation and use of the material lies with the reader. In no event shall the World Health Organization be liable for damages arising from its use." %}</p>
                  </td>
                </tr>
              </table>
            </div>
            <!-- /content -->

          </td>
          <td></td>
        </tr>
      </table>
      <!-- /footer -->

    </td></tr></table>
</body>
</html>
