<div layout="column" layout-align="start center" class="PlanningAndGuidance">

  <div class="page-title">
    <h1 class="md-display-1 text-center">
      <translate>Planning &amp; Guidance</translate>
    </h1>
  </div>

  <md-card class="wrapper md-card-nomargin" layout="column">
    <div class="cms-tabs">
      <ul>
        <li ng-click="vm.activate('all')"
            ng-class="{active: vm.active === 'all'}">
          <translate>Show all</translate>
        </li>
        <li ng-click="vm.activate('lessons')"
            ng-class="{active: vm.active === 'lessons'}">
          <translate>Tips &amp; Considerations</translate>
        </li>
        <li ng-click="vm.activate('resources')"
            ng-class="{active: vm.active === 'resources'}">
          <translate>Resources</translate>
        </li>
        <li ng-click="vm.activate('experiences')"
            ng-class="{active: vm.active === 'experiences'}">
          <translate>Experiences</translate>
        </li>
      </ul>
    </div>

    <div class="wrapper-inner" layout="row">

      <div class="cms-list" ng-class="vm.active" flex="grow">

        <div class="cms-intro">
          <div class="intro-lessons" layout="row" layout-align="start center">
            <div flex="50">
              <p>
                <translate>
                Harnessing the collective experiences of those developing and implementing digital health system and interventions in the field: to offer suggestion and considerations.
                </translate>
              </p>
            </div>
            <div flex="50"></div>
          </div>
          <div class="intro-resources" layout="row" layout-align="start center">
            <div flex="50">
              <p>
                <translate>
                Specific examples demonstrating how different implementers have approached and addressed some of the major challenges to scaling up.
                </translate>
              </p>
            </div>
            <div flex="50"></div>
          </div>
          <div class="intro-experiences" layout="row" layout-align="start center">
            <div flex="50">
              <p>
                <translate>
                Specific examples demonstrating how different implementers have approached and addressed some of the major challenges to scaling up. This includes experiences from a variety of projects.
                </translate>
              </p>
            </div>
            <div flex="50"></div>
          </div>
        </div>

        <cms-list-element ng-repeat="item in vm.toShow | orderBy: ['searchOccurrences', 'id'] : true | limitTo : vm.showLimit" item="item"></cms-list-element>

        <md-card layout="row" layout-align="start center" ng-show="vm.toShow.length === 0" class="empty-card">
          <span>
            <i class="material-icons">sentiment_dissatisfied</i>
          </span>
          <span>
            <translate>No content</translate>
          </span>
        </md-card>

        <md-button
          class="md-blue md-raised show-more"
          ng-show="vm.toShow.length >= vm.showLimit"
          ng-click="vm.toggleShowAll()">
            <span ng-hide="vm.showAllFlag">
              <translate>Show more...</translate>
            </span>
            <span ng-show="vm.showAllFlag">
              <translate>Show less...</translate>
            </span>
        </md-button>
      </div>

      <div class="cms-aside" flex>
        <div class="add-new-content md-block">
          <cms-add-new-content></cms-add-new-content>
        </div>
        <div class="search-content md-block">
          <md-input-container md-no-float class="cms-search md-block">
            <md-icon class="material-icons">search</md-icon>
            <input type="text" ng-model="vm.searchText" ng-change="vm.search()" placeholder="{{'Search' | translate }}">
            <md-button ng-show="vm.searchText.length > 0" class="clear-search md-icon-button" aria-label="clear" ng-click="vm.clearSearch()">
              <md-icon>clear</md-icon>
            </md-button>
          </md-input-container>

          <!--<md-button class="clear-filters" ng-click="vm.clearFilters()">-->
            <!--Clear filters-->
          <!--</md-button>-->
        </div>

        <div class="filter-content">
          <h6 class="md-body-2">
            <translate>Apply filters to list:</translate>
          </h6>

          <dl class="filter-list">
            <dt ng-repeat-start="filterGroup in vm.filters">
              <md-checkbox
                class="md-black small group-title"
                ng-change="vm.toggleAll(filterGroup)"
                ng-model="filterGroup.selected" aria-label="{{filterGroup.name}}">
                {{filterGroup.name}}
              </md-checkbox>
              <i class="material-icons"
                 ng-click="vm.toggleFilterGroup(filterGroup)"
                 ng-class="{toggled: filterGroup.open}">
                arrow_drop_down
              </i>
            </dt>
            <span
              class="domains"
              ng-repeat-end
              ng-class="{show: filterGroup.open}">
              <dd ng-repeat="checkbox in filterGroup.domains">
                <md-checkbox
                  class="md-black small"
                  ng-model="checkbox.selected"
                  aria-label="{{checkbox.name}}">
                  {{checkbox.name}}
                </md-checkbox>
              </dd>
            </span>
          </dl>
        </div>
      </div>
    </div>
  </md-card>

  <disclaimer></disclaimer>
</div>
