@import '../../variables';
@import '../../mixins';


.md-select-menu-container {
  z-index: 90000 !important;
}

.new-content-dialog {
  md-dialog-content {
    md-input-container {
      min-height: 48px;

      &:nth-of-type(1),
      &:nth-of-type(2) {
        width: 66%;
      }
    }

    .trix-wrapper {
      margin-top: 20px;
    }
  }

  md-dialog-actions {
    padding: 20px;
    background-color: $color-gray-lightest;
    box-shadow: inset 0 1px 0 rgba(0,0,0,.12);

    .md-button {
      margin: 0;
    }
  }

  .file-upload {
    margin: 20px 0 0;

    .md-button {
      margin: 0 40px 0 0;
      padding: 0 !important;
      line-height: 42px;
      color: $color-primary;
      background-color: transparent !important;

      md-icon {
        color: $color-primary;
      }
    }

    small {
      color: $text-disabled;
    }

    .selected-file-thumbnail {
      img {
        float: left;
        height: 42px;
        width: auto;
        margin: 0 20px 0 0;
        border: 1px solid $color-gray-lightest;
      }
    }
  }
}

[dir="rtl"] {
  .detail-dialog {
    trix-component {
      .counter-wrapper {
        .error-message {
          float: right;
        }
        :not(.error-message) {
          float: left;
        }
      }
    }
    .file-upload {
      width: 100%;
      .md-button {
        margin: 0 0 0 40px;
      }
    }
  }
}
