amqp==5.1.1                             # Updated from 2.3.2. Supports Python >= 3.7 <= 3.10.
appnope==0.1.0                          # Can be updated to 0.1.3. # TODO: Test if this is needed and if we can safely remove this
argh==0.26.2                            # Cannot be updated to 0.28.1, it does not support Python 3.7
asn1crypto==1.5.1                       # Updated from 0.24.0. Supports Python >= 3.7 <= 3.10
astroid==2.3.3
atomicwrites==1.1.5                     # Can be updated to 1.4.1. # TODO: Test if this is needed and if we can safely remove this
attrs==18.1.0                           # Can be updated to 23.1.0
azure-monitor-opentelemetry==1.0.0b13
backcall==0.1.0                         # Project is deprecated. # TODO: Test if we can safely remove this
bcrypt==3.1.4                           # TODO: Test if this is needed and if we can safely remove this. Check yarn.lock package
behave==1.2.6                           # TODO: Test if this is needed and if we can safely remove this. 
billiard==4.1.0                         # Updated from 3.5.0.4. celery 5.2.7 depends on billiard<4.0 and >=3.6.4.0 
celery==5.3.1                           # Updated from 4.2.0. Run unto some building issues with 5.3.1 and rolled back to 5.2.7. Supports Django >= 2.2
certifi==2018.4.16
cffi==1.15.1                            # Updated from 1.11.5. 
chardet==3.0.4
colorama==0.3.9
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.1
cryptography==2.2.2
decorator==4.3.0
defusedxml==0.7.1                       # Updated from 0.5.0. 
dj-inmemorystorage==1.4.1
Django==3.2
django-admin-sortable2==1.0.4           # Updated from 1.0.4. django-admin-sortable2 2.1.8 depends on Django>=4.0
django-allauth==0.41.0
django-appconf==1.0.5                   # Updated from 1.0.2. appconf/base.py imports six, which is not supported in Django==3.2
django-celery-email==3.0.0              # Upgrade from 2.0.0. Does not support Django 3.2, needs alternative solution. 
django-cors-headers==4.1.0              # Updated from 2.3.0.
django-extensions==2.2.5
django-import-export==2.5.0
django-modeltranslation==0.17.7
django-redis==5.3.0
django-rosetta==0.8.1
django-simplefeedback==1.1.2
django-simple-history==3.3.0
django-ordered-model==3.7.4
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
dj-rest-auth==4.0.1
drf-yasg==1.21.6
docopt==0.6.2
environs==9.5.0
Fabric3==1.14.post1
factory-boy==2.12.0
flake8==3.8.2
freezegun==0.3.15
gunicorn==19.9.0
idna==2.7
ipdb==0.13.13                       # Updated from 0.11.
ipython==8.12.2                     # Updated from 6.4.0. ipdb 0.13.13 depends on ipython>=7.31.1; python > 3.6 < 3.11
ipython-genutils==0.2.0
isort==4.3.4
itypes==1.1.0
jedi==0.18.2                        # Updated from 0.12.1. ipython 8.12.2 depends on jedi>=0.16
Jinja2==2.10
kombu==5.3.1                        # Updated from 4.2.1. Celery depends on kombu<6.0 and >=5.2.3. Updating kombu > 5.2.3 caused building issues.
lazy-object-proxy==1.4.3
Markdown==2.6.11
MarkupSafe==1.1.1
mccabe==0.6.1
microsofttranslator==0.8
mock==2.0.0
more-itertools==4.2.0
oauthlib==2.1.0
openpyxl==3.1.2                     # Added to freeze version in order to resolve issue when trying to use DefusedXMLParser. 
paramiko==2.4.1
parse==1.8.4
parse-type==0.4.2
parso==0.8.3                        # Updated from 0.3.0. jedi 0.18.2 depends on parso<0.9.0 and >=0.8.0
pathtools==0.1.2
pbr==4.1.0
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
pluggy==0.6.0
polib==1.1.0
prompt-toolkit==3.0.39              # Updated from 1.0.15. ipython 8.12.2 depends on prompt-toolkit!=3.0.37, <3.1.0 and >=3.0.30
psycopg2-binary==2.9.6
ptyprocess==0.6.0
py==1.5.4
pyasn1==0.4.3
pycodestyle==2.6.0
pycountry==18.5.26
pycparser==2.18
pycrypto==2.6.1
pyflakes==2.2.0         
Pygments==2.15.1                    # Updated from 2.2.0. ipython 8.12.2 depends on pygments>=2.4.0 
pylint==2.4.3
PyNaCl==1.2.1
pytest==3.6.3
pytest-cov==2.5.1
pytest-django==3.3.2
pytest-testmon==0.9.12
pytest-watch==4.2.0
pytest-timeout==1.3.3
python3-openid==3.1.0
pytz==2023.3                        # Updated from 2018.5.
PyYAML==6.0                         # Updated from 3.13.
redis==4.6.0                        # Updated from 2.10.6.
requests==2.19.1
requests-oauthlib==1.0.0
sentry-sdk                          # TODO: Check if 
sorl-thumbnail==12.9.0              # Updated from 12.7.0. Supports Django 3.2, 4.0, 4.1 - Python >= 3.7 <= 3.10
traitlets==5.9.0                    # Updated from 4.3.2. ipython 8.12.2 depends on traitlets>=5
uritemplate==3.0.0
urllib3==1.23
vine==5.0.0                         # Updated from 1.1.4.
watchdog==0.8.3
wcwidth==0.1.7
wrapt==1.11.2
hashids==1.2.0
git+https://github.com/pulilab/django-import-export-celery@1.16.3
django-jsoneditor   
django-health-check==3.16.0
