@import '../../variables';
@import '../../mixins';

axis {
  md-card {
    color: $text-primary;
    background-color: $color-white;
  }

  .axis1 {
    background-color: $color-axis1;
  }

  .axis2 {
    background-color: $color-axis2;
  }

  .axis3 {
    background-color: $color-axis3;
  }

  .axis4 {
    background-color: $color-axis4;
  }

  .axis5 {
    background-color: $color-axis5;
  }

  .axis6 {
    background-color: $color-axis6;
  }

  .axis-domains {
    width: 100%;

    .axis {
      min-width: 110px;
      height: 50px;
      position: relative;
      background-color: $color-white;
      outline: none;
      cursor: pointer;

      .label {
        padding-left: 10px;
      }

      ::after {
        content: '';
        position: absolute;
        top: 0;
        right: -9px;
        width: 9px;
        height: 50px;
        background: transparent url('./images/after-white.svg') 100% center
          no-repeat;
        z-index: 50;
      }
    }

    .domains {
      height: 50px;
      position: relative;
      outline: none;
      cursor: pointer;

      &.gotdata {
        background-color: $color-white;

        &:not(:nth-child(5))::after {
          content: '';
          position: absolute;
          top: 0;
          right: -9px;
          width: 9px;
          height: 50px;
          background: transparent url('./images/after-white.svg') 100% center
            no-repeat;
          z-index: 40;
        }
      }

      &.nodata {
        color: $text-secondary;
        background: #e0e0e0;

        &:not(:nth-child(5))::after {
          content: '';
          position: absolute;
          top: 0;
          right: -9px;
          width: 9px;
          height: 50px;
          background: transparent url('./images/after-grey.svg') 100% center
            no-repeat;
          z-index: 40;
        }
      }
    }
  }

  .picture {
    padding: 10px;
    width: 50px;
    height: 50px;

    img {
      max-width: 30px;
      max-height: 30px;
      margin: auto auto;
    }
  }

  .vert-divider {
    height: 100%;
  }

  .label {
    display: inline-block;
    font-size: 12px;
    line-height: 13px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 15px;
    cursor: pointer;

    &.axis-label {
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;
    }

    .cap {
      text-transform: capitalize;
      max-height: 36px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    &.ps {
      margin-top: 2px;
      color: $text-secondary;
      font-size: 10px;
    }
  }

  .scores {
    height: 20px;

    div .line {
      display: block;
      height: 5px;
      width: 25px;
      border-radius: 2.5px;
      background-color: $color-gray-lighter;

      div {
        height: 100%;
        border-radius: 2.5px;

        &.red {
          width: 20%;
          background-color: $color-red;
        }

        &.yellow {
          width: 60%;
          background-color: $color-accent;
        }

        &.green {
          width: 100%;
          background-color: $color-green;
        }
      }
    }
  }

  .showCurrent {
    .active {
      background: $color-white !important;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -9px;
        width: 9px;
        height: 50px;
        background: transparent url('./images/after-white.svg') 100% center
          no-repeat !important;
        z-index: 200;
      }
    }

    .domains.gotdata {
      background-color: #e0e0e0;

      &:not(:nth-child(5))::after {
        content: '';
        position: absolute;
        top: 0;
        right: -9px;
        width: 9px;
        height: 50px;
        background: transparent url('./images/after-grey.svg') 100% center
          no-repeat;
        z-index: 200;
      }
    }

    .domains.nodata {
      &:nth-child(5)::after {
        content: '';
        position: absolute;
        top: 0;
        right: -9px;
        width: 9px;
        height: 50px;
        background: transparent url('./images/after-grey.svg') 100% center
          no-repeat;
        z-index: 200;
      }
    }
  }
}

[dir='rtl'] {
  .label {
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 5px;
  }

  .axis-domains {
    .axis {
      ::after {
        content: '';
        position: absolute;
        top: 0;
        right: auto;
        left: -9px;
        width: 9px;
        height: 50px;
        background: transparent url('./images/after-white.svg') 100% center
          no-repeat;
        transform: rotate(180deg);
        z-index: 50;
      }
    }
    .domains {
      &.gotdata {
        &:not(:nth-child(5))::after {
          content: '';
          position: absolute;
          top: 0;
          right: auto;
          left: -9px;
          width: 9px;
          height: 50px;
          background: transparent url('./images/after-white.svg') 100% center
            no-repeat;
          transform: rotate(180deg);
          z-index: 40;
        }
      }

      &.nodata {
        &:not(:nth-child(5))::after {
          content: '';
          position: absolute;
          top: 0px;
          right: auto;
          left: -9px;
          width: 9px;
          height: 50px;
          background: transparent url('./images/after-grey.svg') 100% center
            no-repeat;
          transform: rotate(180deg);
          z-index: 40;
        }
      }
    }

    .showCurrent {
      .active {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: auto;
          left: -9px;
          width: 9px;
          height: 50px;
          background: transparent url('./images/after-white.svg') 100% center
            no-repeat !important;
          transform: rotate(180deg);
          z-index: 200;
        }
      }

      .domains.gotdata {
        &:not(:nth-child(5))::after {
          content: '';
          position: absolute;
          top: 0;
          right: auto;
          left: -9px;
          width: 9px;
          height: 50px;
          background: transparent url('./images/after-grey.svg') 100% center
            no-repeat;
          transform: rotate(180deg);
          z-index: 200;
        }
      }

      .domains.nodata {
        &:nth-child(5)::after {
          content: '';
          position: absolute;
          top: 0;
          right: auto;
          left: -9px;
          width: 9px;
          height: 50px;
          background: transparent url('./images/after-grey.svg') 100% center
            no-repeat;
          transform: rotate(180deg);
          z-index: 200;
        }
      }
    }
  }
}
